# Flask and Web Server
Flask
gunicorn
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
python-dotenv
Werkzeug

# Core Logic & Email
aiosmtp
css_inline
dnspython
Jinja2
pypdf2
requests

# Background Jobs
Celery
redis

# Utilities
user-agents
