Flask>=2.0
gunicorn
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
python-dotenv
Werkzeug
css_inline
dnspython
Jinja2
pypdf2
requests
itsdangerous
Celery
redis
psycopg2-binary
cryptography
email-validator
